*
{
	padding: 0;
	margin: 0;
}
body
{
	font-family: sans-serif;
}
#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar
{
	background-image: linear-gradient(to right, #008000,#006400);
	padding: 0 !important;
}
.navbar-brand img
{
	height: 40px;
	padding-left: 20px;
}
.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
	color: #fff !important;
	font-weight: 600;
	float: left;
	text-align: left;
}

.btn
{
	color: #fff !important;
	font-weight: 600;
}
.fa-bars
{
	color: #fff;
	font-size: 30px !important;
}
.navbar-togger
{
	outline: none !important;
}
.navbar-nav > li > .dropdown-menu
{
	background-color: #008000;
}
#services
{
	padding: 80px 0;
}
.service-img
{
	width: 300px;
	margin-top: 20px;
}
.services
{
	padding: 20px;
}
.services h4
{
	padding: 5px;
	margin-top: 25px;
}
#services .btn-primary
{
	box-shadow: none;
	padding: 8px 25px;
	border: none;
	border-radius: 20px;
	background-image: linear-gradient(to right, #008000,#006400);
}
.img-img
{
	width: 270px;
	margin-top: 10px;
}
#social-media
{
	background: #f8f9fa;
	padding: 100px 0;
}
#social-media p
{
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 30px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
#services h1
{
	text-align: center;
	padding-bottom: 30px;
}
 #footer .card-body
{
	background-image: linear-gradient(to right, #e44b8d,#d24787);
}
#footer h5
{
	color: white;
}
#footer pre
{
	color: white;
}
